<!DOCTYPE html>
<html lang="{{ lang or site.defaultLang }}">
<head>
{% include "partials/head.njk" %}
</head>
<body>
{% include "partials/header.njk" %}

<main>
{{ content | safe }}
</main>

{% include "partials/footer.njk" %}

<script src="/js/script.js"></script>
</body>
</html>
